[submodule "Firstyear-SecSem/LI2"]
	path = Firstyear-SecSem/LI2
	url = git@github.com:Jinjas/LI2.git
[submodule "Secyear-SecSem/poo/POO"]
	path = Secyear-SecSem/poo/POO
	url = git@github.com:MarianaSilva659/POO.git
[submodule "Thirdyear-SecSem/IPM/aula-08-routing-e-fetch-api-aula8_a100534"]
	path = Thirdyear-SecSem/IPM/aula-08-routing-e-fetch-api-aula8_a100534
	url = git@github.com:UMinho-ENGINF-IPM/aula-08-routing-e-fetch-api-aula8_a100534.git
[submodule "Thirdyear-firstsem/cc"]
	path = Thirdyear-firstsem/cc
	url = git@github.com:JPCG-27/cc.git
[submodule "Thirdyear-firstsem/DSS/trabalho-dss-grupo-50"]
	path = Thirdyear-firstsem/DSS/trabalho-dss-grupo-50
	url = git@github.com:LEI-DSS/trabalho-dss-grupo-50.git
[submodule "Thirdyear-SecSem/ADI"]
	path = Thirdyear-SecSem/ADI
	url = git@github.com:Jinjas/ADI.git
[submodule "Thirdyear-firstsem/LI4/LeiloesOnline"]
	path = Thirdyear-firstsem/LI4/LeiloesOnline
	url = git@github.com:Ze-Limao/LeiloesOnline.git
